# build
**/__pycache__/
/.idea/
/.kotlin/
/.gradle/
/.gradle-template/
/build/
/app/build/
/template/iconpack-template/.gradle/
/template/iconpack-template/.kotlin/
/template/iconpack-template/app/build/
/template/iconpack-template/build/
/template/iconpack-template/local.properties

# cxx
/.cxx/
/app/.cxx/
**/*.so
**/*.a
/.artifacts/
/app/src/main/jni/opencv-mobile-4.13.0-android/

# external
/external/
