<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HyperIconPack">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Lawnchair Launcher 14 -->
            <intent-filter>
                <action android:name="app.lawnchair.icons.THEMED_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Lawnchair Launcher Legacy -->
            <intent-filter>
                <action android:name="ch.deletescape.lawnchair.ICONPACK" />
                <category android:name="ch.deletescape.lawnchair.PICK_ICON" />
            </intent-filter>

            <!-- Nova Launcher -->
            <intent-filter>
                <action android:name="com.novalauncher.THEME" />
                <category android:name="com.novalauncher.category.CUSTOM_ICON_PICKER" />
            </intent-filter>

            <!-- ADW Launcher -->
            <intent-filter>
                <action android:name="org.adw.launcher.THEMES" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="org.icontheme.CHANGES_WITH_MATERIAL_YOU_COLORS" />
                <category android:name="org.icontheme.CHANGES_WITH_DARK_MODE" />
                <category android:name="org.icontheme.FALLBACK_TO_THEMED_ICON" />
            </intent-filter>

            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 其他常见启动器 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.anddoes.launcher.THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.dlto.atom.launcher.THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.motorola.launcher.ACTION_ICON_PACK" />
                <action android:name="com.motorola.launcher3.ICON_PACK_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gridappsinc.launcher.theme.apk_action" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="ginlemon.smartlauncher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sonymobile.home.ICON_PACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.oneplus.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="jp.co.a_tm.android.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
